{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
    },
    "project": "./tsconfig.json",
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "array-callback-return": "warn",
    "require-unicode-regexp": "warn",
    "no-alert": "warn",
    "no-console": "warn",
    "eqeqeq": "error",
    "no-iterator": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-multi-spaces": "error",
    "no-proto": "error",
    "no-return-await": "error",
    "no-void": "error",
  }
}