@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$background = #EEEEEE
$title = orange
$github = black

body
  width auto
  background-color $background
  padding 0px
  margin 0px
  min-height 100%
  justify-content center
  -webkit-font-smoothing: antialiased !important;

html
  min-height 100%

p
  font-family Roboto, sans-serif
  font-size 7vw
  color: $title

  @media screen and (min-width: 100%)
    font-size: 36px

a
  text-decoration none
  color: $github